header{ 
    display: flex;
    justify-content: center;
    align-items: center;
    

    }
.logo{
    width: 20%;
    background-color: black;
}
.logo img{
    max-width: 80%;
}
.menu{
    width: 80%;  
    background-color: red;
    display: flex;
    justify-content: center;
}

.flotante{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
.flotante button{
    border: none;
    border-radius: 50px;
    background-color: green;
    padding: 10px;
    height: 80px;
    width: 80px;
    cursor: pointer;
}
.flotante button i{
    color: white;
    font-size: 40px;
}
.flotante button:hover{
    background-color: white;   
}
.flotante button:hover > i{
    color: green; 
}